ADMIN_PASSWORD=
ADMIN_USERNAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BT_LIWA=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_DATABASE_ID=
GEMINI_API_KEY=
R2_ACCESS_KEY_ID=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
R2_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
SITE_DOMAIN=
ZIINA_API_KEY=
ZIINA_TEST_MODE=